In [4]:
import numpy as np
import pandas as pd
import math
import os

In [8]:
print("\n".join(os.listdir("./../data")))
df = pd.read_csv('./../data/N225.csv')

DJI_STO_20period_sma10.csv
N225.csv
downjone5y.csv
DJI_modified_sma.csv
DJI_modified_features - DJI.csv
dowjone1985_2019.csv

In [9]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-01-29,11843.070313,11843.070313,11843.070313,11843.070313,11843.070313,0.000000e+00
1,1985-01-30,11960.629883,11960.629883,11960.629883,11960.629883,11960.629883,0.000000e+00
2,1985-01-31,11992.309570,11992.309570,11992.309570,11992.309570,11992.309570,0.000000e+00
3,1985-02-01,11946.959961,11946.959961,11946.959961,11946.959961,11946.959961,0.000000e+00
4,1985-02-04,11891.080078,11891.080078,11891.080078,11891.080078,11891.080078,0.000000e+00
...,...,...,...,...,...,...,...
8875,2019-10-25,22753.240234,22819.919922,22715.130859,22799.810547,22799.810547,5.720000e+04
8876,2019-10-28,22854.439453,22896.220703,22830.570313,22867.269531,22867.269531,4.810000e+04
8877,2019-10-29,22950.789063,23008.429688,22935.349609,22974.130859,22974.130859,7.290000e+04
8878,2019-10-30,22953.169922,22961.230469,22827.929688,22843.119141,22843.119141,1.016000e+05
8879,2019-10-31,22910.099609,22988.800781,22875.500000,22927.039063,22927.039063,7.830000e+09